# Infura API key -> "00000000000000000000000000000000"
REACT_APP_INFURA_KEY=
# Whether using subgraph -> "true"
REACT_APP_ENABLE_SUBGRAPH=
# Whether using mock -> "true"
REACT_APP_USE_MOCK=
# Set to `%PUBLIC_URL%` in index.html. ref:https://stackoverflow.com/questions/42686149/cant-build-create-react-app-project-with-custom-public-url
PUBLIC_URL=