# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.node-version

# testing
/coverage

# production
/build

# misc
.DS_Store
!.env.sample
.env
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode
memo

# generated contract types
/src/infrastructures/abis/types
/cypress/videos
/cypress/screenshots
